.header-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} 

.header-flex > div {
    flex-basis: 50%;
}

.header-flex > div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-flex span {
    line-height: 18px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    color: #6366F1;
}

.header-flex h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 46.2222px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #171717;
}

.header-flex p {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #404040;
}

.header-flex .cta {
    max-width: 150px;
    /* height: 43.33px; */
    padding: 10px 0px;
}

.header-flex .cta p {
    color: var(--primary);
}

@media (max-width: 768px) {
    .header-flex {
        display: flex;
        flex-direction: column-reverse;
    }
}