<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Component</title>
    <link href="../../assets/css/main.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="header-flex">
            <div>
                <span>become a legendary designer</span>
                <h1 class="mt-2 mb-2">A headline to make an impact on visitors</h1>
                <p>A subheading that addresses the what, the why we should care and hopefully some social proof.</p>
                <div class="mt-2">
                    <div class="flex-wrap cta">
                        <p>Primary Action</p>
                        <img src="../../assets/icons/header-icon.svg" alt="header-icon"/>
                    </div>
                </div>

            </div>
            <div>
                <img src="../../assets/images/header-image.svg" alt="header image"/>
            </div>
        </div>
    </section>
</body>
</html>