<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Started Component</title>
    <link href="../../assets/css/main.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="started mb-5">
                <div>
                    <h1 class="mb-2">A catchy heading that brings some interest to visitors</h1>
                    <p class="mb-2">Tortor interdum condimentum nunc molestie quam lectus euismod pulvinar risus. Cursus in odio aenean. Tortor interdum condimentum nunc molestie quam lectus euismod pulvinar risus. </p>
                    <button class="button secondary-action-button">
                        Secondary Action
                    </button>
                </div>
                <div> <img src="../../assets/images/started-image.svg" alt="started"/></div>
        </div>

        <div class="started-feature">
            <div class="child">
                <img src="../../assets/icons/started-feature-icon.svg" alt="started feature icon">
                <h3>The most inspiring feature</h3>
                <p>Tortor interdum condimentum nunc molestie quam lectus euismod pulvinar risus. Cursus in odio aenean.</p>
            </div>

            <div class="child">
                <img src="../../assets/icons/started-feature-icon.svg" alt="started feature icon">
                <h3>The most inspiring feature</h3>
                <p>Tortor interdum condimentum nunc molestie quam lectus euismod pulvinar risus. Cursus in odio aenean.</p>
            </div>

            <div class="child">
                <img src="../../assets/icons/started-feature-icon.svg" alt="started feature icon">
                <h3>The most inspiring feature</h3>
                <p>Tortor interdum condimentum nunc molestie quam lectus euismod pulvinar risus. Cursus in odio aenean.</p>
            </div>
        </div>
    </section>
</body>
</html>