<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Component</title>
    <link href="../../assets/css/main.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>

        <div class="footer mt-5 mb-5">
            <section>
                <div class="footer-wrapper">
                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Company</span>
                        </div>
                        <ul>
                            <li>About</li>
                            <li>Leadership</li>
                            <li>Blog</li>
                            <li>Careers</li>
                            <li>Referral Program</li>
                            <li>Community</li>
                        </ul>
                    </div>

                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Product</span>
                        </div>
                        <ul>
                            <li>Overview</li>
                            <li>Features</li>
                            <li>Pricing</li>
                            <li>Documentation</li>
                            <li>Tools & Integration</li>
                            <li>Releases</li>
                        </ul>
                    </div>

                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Support</span>
                        </div>
                        <ul>
                            <li>Help centre</li>
                            <li>FAQ</li>
                            <li>Contact</li>
                            <li>Press</li>
                            <li>Status</li>
                        </ul>
                    </div>

                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Company</span>
                        </div>
                        <ul>
                            <li>About</li>
                            <li>Leadership</li>
                            <li>Blog</li>
                            <li>Careers</li>
                            <li>Referral Program</li>
                            <li>Community</li>
                        </ul>
                    </div>

                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Product</span>
                        </div>
                        <ul>
                            <li>Overview</li>
                            <li>Features</li>
                            <li>Pricing</li>
                            <li>Documentation</li>
                            <li>Tools & Integration</li>
                            <li>Releases</li>
                        </ul>
                    </div>

                    <div class="footer-item">
                        <div class="mb-2">
                            <span>Support</span>
                        </div>
                        <ul>
                            <li>Help centre</li>
                            <li>FAQ</li>
                            <li>Contact</li>
                            <li>Press</li>
                            <li>Status</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

</body>
</html>