.footer {
    background: var(--white);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-wrapper .footer-item {
    flex-basis: 150px;
}

.footer-wrapper .footer-item span {
    font-weight: 500;
    font-size: 12.4444px;
    line-height: 18px;
    color: #171717;
}

.footer-wrapper .footer-item ul {
    display: grid;
    gap: 10px;
}

.footer-wrapper .footer-item ul li {
    list-style: none;
    font-size: 12.4444px;
    line-height: 18px;
    color: #737373;
}