<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call To Action Component</title>
    <link href="../../assets/css/main.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="main">
        <div class="call-to-action">
            <div class="child1">
                <h1 class="mb-2">A call to action that engages the visitors</h1>
                <p class="mb-2">Pretium, at molestie lectus feugiat egestas vestibulum malesuada lacus. Vel faucibus tempor tortor lectus eu. Pretium, at molestie lectus feugiat egestas.</p>
                <div class="button-group">
                    <button class="button primary-button">Primary Action</button>
                    <button class="button secondary-button border">Secondary Action</button>
                </div>
            </div>
            <div class="special-feature">
                <span>special features</span>
                <hr>
                <ul>
                    <li>
                        <img src="../../assets/icons/special-feature-icon.svg" alt="special feature icon"/>
                        <p>Analytics</p>
                    </li>
                    <li>
                        <img src="../../assets/icons/special-feature-icon.svg" alt="special feature icon"/>
                        <p>AI suggest text</p>
                    </li>
                    <li>
                        <img src="../../assets/icons/special-feature-icon.svg" alt="special feature icon"/>
                        <p>Content tracking</p>
                    </li>
                    <li>
                        <img src="../../assets/icons/special-feature-icon.svg" alt="special feature icon"/>
                        <p>API access</p>
                    </li>
                    <li>
                        <img src="../../assets/icons/special-feature-icon.svg" alt="special feature icon"/>
                        <p>Chat support</p>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </section>

</body>
</html>